body{
    background-color: #f9f9f9;
    font-size: 20px;
    font-weight: 300;
  
      font-family: 'Montserrat Alternates', sans-serif; 
  } 
  
  
    
  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  }
  
  .container {
      margin: 0 25px;
  }

  .header-inner {
    background-color: #191919;
    width: 100%;
    height: 100%;
}

.header-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding-top: 5px;
    padding-right: 80px;
    padding-left: 80px;
}

.header-link {
    display: flex;
    align-items: center;
}


.header-link a {
    color: #fff;
    margin-right: 85px;
    text-decoration: none;

    transition: color .3s ease;
}

.header-link a:hover {
    color: #d4a373;
}

.header-link a:last-of-type {
    margin-right: 0;
}

.button-korz {
    
    display: inline-block; /* Для корректной работы с размерами */
    width: 35px;
    height: 30px;
}

.button-korz img {
    width: 100%; /* Подстраивается под контейнер */
    height: 100%; /* Подстраивается под контейнер */
    object-fit: contain; /* Сохраняет пропорции картинки */
}

.restmenu {
    display: inline-block; /* Для корректной работы с размерами */
    width: 30px;
    height: 20px;
    display: none;
}

.restmenu img {
    width: 100%; /* Подстраивается под контейнер */
    height: 100%; /* Подстраивается под контейнер */
    object-fit: contain; /* Сохраняет пропорции картинки */
}

.button-header {
    background-color: #d4a373;
    padding: 9px 15px;
    border-radius: 60px;
    text-decoration: none;
    color: #ffffff;
    border: 2px solid transparent;
    transition: all .1s ease;
}

.button-header:hover {
    background-color: #fff;
    color: #d4a373;
    border: 2px solid #d4a373;
}

.menu-link {
    display: flex;
    flex-wrap: wrap; /* Перенос строк при нехватке места */
    margin-top: 15px;
    margin-bottom: 15px;
    justify-content: center;
    gap: 10px; /* Расстояние между элементами */
    font-size: 28px; /* Уменьшенный шрифт */
}

.menu-link a {
    color: #000000;
    text-decoration: none;
    padding: 10px 15px; /* Добавляем внутренние отступы для удобства клика */
    border-radius: 5px; /* Закругленные края */
    background-color: #f9f9f9; /* Легкий фон */
    transition: color 0.3s ease, background-color 0.3s ease;
}

.menu-link a:hover {
    color: #d4a373;
    background-color: #eee; /* Легкое выделение фона при наведении */
}

.menu-link a:last-of-type {
    margin-right: 0;
}

@media (max-width: 768px) {
    .menu-link {
        flex-direction: column; /* Размещаем ссылки в колонку */
        align-items: center; /* Центрируем ссылки */
        font-size: 16px; /* Еще меньше шрифт для маленьких экранов */
    }

    .menu-link a {
        width: 80%; /* Занимают 80% ширины экрана */
        text-align: center; /* Текст по центру */
        padding: 8px 10px; /* Уменьшенные отступы */
    }
}
.cont_zak h2 {
  padding-left: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8f8f8;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  width: 1200px;
}

.banner-content {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.banner-image {
  width: 550px;
  height: auto;
  margin-right: 20px;
  border-radius: 8px;
}

.banner-text {
  max-width: 500px;
}

.banner-text h2 {
  font-size: 44px;
  color: #333;
  margin: 0 0 10px;
}

.banner-text p {
  font-size: 26px;
  color: #555;
  margin: 0 0 20px;
}

.banner-button {
  background-color: #d4a373;
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  font-size: 26px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.banner-button:hover {
  background-color: #5f4934;
}

.modal {
  display: none; /* Скрыто по умолчанию */
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный фон */
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  max-width: 90%; /* Ограничение ширины */
  width: auto; /* Будет меняться через JS */
  transition: width 0.3s ease; /* Плавное изменение ширины */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Тень */
}


.question {
  font-size: 18px;
  margin-bottom: 20px;
}

.options {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.options button {
  font-size: 20px;
  padding: 10px;
  background-color: #d4a373;
  color: #fff;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  width: 170px;
  max-width: 300px;
  text-decoration: none;
  color: #fff;
  border: 2px solid transparent;
  transition: all .1s ease; 
}

.options button:hover {
  background-color: #fff;
  color: #d4a373;
  border: 2px solid #d4a373;
}

.result-carousel {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin-top: 10px;
}

.result-dishes {
  display: flex;
  gap: 20px;

  scroll-behavior: smooth;
  padding: 10px 40px;
  max-width: 100%;
}

.dish-card {
  min-width: 280px;
  max-width: 300px;
  background: #fff;
  border-radius: 12px;
  padding: 10px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  flex-shrink: 0;
}



/* Затемнённый фон */
#quizModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center; /* Центрирование по горизонтали */
  align-items: center; /* Центрирование по вертикали */
  z-index: 1000;
  transition: all 0.3s ease;
}


.result {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  
  padding: 0 10px;
  max-height: 80vh; /* ограничение по высоте модального окна */
}

.result-message {
  text-align: center;
  font-size: 18px;
  font-weight: 500;
}



.dish-card {
  flex: 0 0 auto;
  width: 300px;
  background-color: #f9f9f9;
  border-radius: 12px;
  padding: 15px;
  text-align: center;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  gap: 10px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.dish-card:hover {
  transform: scale(1.05); /* Увеличиваем размер блока на 5% */
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2); /* Увеличиваем тень при наведении */
}

.dish-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
}

.dish-card img {
  width: 260px;
  height: 205px;
  border-radius: 10px;
  object-fit: cover;
}

.dish-info-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.dish-price {
  font-size: 18px;
  font-weight: 600;
  color: #333;
}

.dish-tags {
  display: flex;
  gap: 8px;
}

.dish-tag1 {
  background-color: #ffffff;
  color: #000000;
  border: 2px solid #d4a373;
  padding: 4px 10px;
  border-radius: 20px;
  font-size: 14px;
  white-space: nowrap;
}

.dish-tag2 {
  background-color: #d4a373;
  color: #000000;
  padding: 5px 7px;
  border-radius: 20px;
  font-size: 14px;
  white-space: nowrap;
}

.dish-description {
  font-size: 14px;
  color: #555;
  margin-top: 10px;
  text-align: left;
}



.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

.cont_zak h3{
  padding-bottom: 20px;
  padding-left: 10px;
}

.marquee-wrapper {
  padding-left: 10px;
  position: relative;
  display: flex;
  overflow: hidden;
  gap: 1rem;
  border-radius: 1rem;
}
.marquee-wrapper .marquee-content {
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  gap: 1rem;
  cursor: grab;
}
.marquee-wrapper .marquee-content .card-testimonial {
  width: 330px;
  height: 430px;
  background-color: #ffffff;
  padding: 5px;
  border-radius: 2rem;
  color: #000000;
}
.marquee-wrapper .marquee-content .card-testimonial article picture {
  position: relative;
  min-width: 200px;
}
.marquee-wrapper .marquee-content .card-testimonial article picture img {
  width: 90%;
  height: 250px;
  margin-left: 15px;
  border-radius: 0.5rem;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: 50% 15%;
  object-position: 50% 15%;
}
.marquee-wrapper .marquee-content .card-testimonial article h4 {
  font-size: 22px;
  margin-block: 6px;
}
.marquee-wrapper .marquee-content .card-testimonial article article.short-description p {
  font-family: var(--ff-heading);
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  margin-bottom: 1.2rem;
}

.short-description h5{
  margin-bottom: 7px;
}

.color-bar {
  height: 5px;
  width: 82px;
  margin-bottom: 10px;
}

.bar-6 { 
  background-color: #d4a373;
  margin-right: 207px; }



@media (max-width: 1024px) {
  .marquee-wrapper {
    overflow: auto;
  }
  .marquee-wrapper1 {
    overflow: auto;
  }

  .marquee-wrapper2 {
    overflow: auto;
  }

  .marquee-wrapper3 {
    overflow: auto;
  }

  .marquee-wrapper4 {
    overflow: auto;
  }

  .marquee-wrapper5 {
    overflow: auto;
  }

  .marquee-wrapper6 {
    overflow: auto;
  }
}



.marquee-wrapper1 {
  padding-left: 10px;
  position: relative;
  display: flex;
  overflow: hidden;
  gap: 1rem;
  border-radius: 1rem;
}
.marquee-wrapper1 .marquee-content1 {
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  gap: 1rem;
  cursor: grab;
}
.marquee-wrapper1 .marquee-content1 .card-testimonial {
  width: 330px;
  height: 400px;
  background-color: #ffffff;
  padding: 5px;
  border-radius: 2rem;
  color: #000000;
}
.marquee-wrapper1 .marquee-content1 .card-testimonial article picture {
  position: relative;
  min-width: 200px;
}
.marquee-wrapper1 .marquee-content1 .card-testimonial article picture img {
  width: 90%;
  height: 250px;
  margin-left: 15px;
  border-radius: 0.5rem;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: 50% 15%;
  object-position: 50% 15%;
}
.marquee-wrapper1 .marquee-content1 .card-testimonial article h4 {
  font-size: 22px;

  margin-block: 6px;
}
.marquee-wrapper1 .marquee-content1 .card-testimonial article article.short-description p {
  font-family: var(--ff-heading);
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  margin-bottom: 1.2rem;
}

.marquee-wrapper2 {
  padding-left: 10px;
  position: relative;
  display: flex;
  overflow: hidden;
  gap: 1rem;
  border-radius: 1rem;
}
.marquee-wrapper2 .marquee-content2 {
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  gap: 1rem;
  cursor: grab;
}
.marquee-wrapper2 .marquee-content2 .card-testimonial {
  width: 330px;
  height: 430px;
  background-color: #ffffff;
  padding: 5px;
  border-radius: 2rem;
  color: #000000;
}
.marquee-wrapper2 .marquee-content2 .card-testimonial article picture {
  position: relative;
  min-width: 200px;
}
.marquee-wrapper2 .marquee-content2 .card-testimonial article picture img {
  width: 90%;
  height: 250px;
  margin-left: 15px;
  border-radius: 0.5rem;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: 50% 15%;
  object-position: 50% 15%;
}
.marquee-wrapper2 .marquee-content2 .card-testimonial article h4 {
  font-size: 22px;

  margin-block: 6px;
}
.marquee-wrapper2 .marquee-content2 .card-testimonial article article.short-description p {
  font-family: var(--ff-heading);
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  margin-bottom: 1.2rem;
}

.marquee-wrapper3 {
  padding-left: 10px;
  position: relative;
  display: flex;
  overflow: hidden;
  gap: 1rem;
  border-radius: 1rem;
}
.marquee-wrapper3 .marquee-content3 {
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  gap: 1rem;
  cursor: grab;
}
.marquee-wrapper3 .marquee-content3 .card-testimonial {
  width: 330px;
  height: 430px;
  background-color: #ffffff;
  padding: 5px;
  border-radius: 2rem;
  color: #000000;
}
.marquee-wrapper3 .marquee-content3 .card-testimonial article picture {
  position: relative;
  min-width: 200px;
}
.marquee-wrapper3 .marquee-content3 .card-testimonial article picture img {
  width: 90%;
  height: 250px;
  margin-left: 15px;
  border-radius: 0.5rem;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: 50% 15%;
  object-position: 50% 15%;
}
.marquee-wrapper3 .marquee-content3 .card-testimonial article h4 {
  font-size: 22px;

  margin-block: 6px;
}
.marquee-wrapper3 .marquee-content3 .card-testimonial article article.short-description p {
  font-family: var(--ff-heading);
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  margin-bottom: 1.2rem;
}

.marquee-wrapper4 {
  padding-left: 10px;
  position: relative;
  display: flex;
  overflow: hidden;
  gap: 1rem;
  border-radius: 1rem;
}
.marquee-wrapper4 .marquee-content4 {
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  gap: 1rem;
  cursor: grab;
}
.marquee-wrapper4 .marquee-content4 .card-testimonial {
  width: 330px;
  height: 400px;
  background-color: #ffffff;
  padding: 5px;
  border-radius: 2rem;
  color: #000000;
}
.marquee-wrapper4 .marquee-content4 .card-testimonial article picture {
  position: relative;
  min-width: 200px;
}
.marquee-wrapper4 .marquee-content4 .card-testimonial article picture img {
  width: 90%;
  height: 250px;
  margin-left: 15px;
  border-radius: 0.5rem;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: 50% 15%;
  object-position: 50% 15%;
}
.marquee-wrapper4 .marquee-content4 .card-testimonial article h4 {
  font-size: 22px;

  margin-block: 6px;
}
.marquee-wrapper4 .marquee-content4 .card-testimonial article article.short-description p {
  font-family: var(--ff-heading);
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  margin-bottom: 1.2rem;
}

.marquee-wrapper5 {
  padding-left: 10px;
  position: relative;
  display: flex;
  overflow: hidden;
  gap: 1rem;
  border-radius: 1rem;
}
.marquee-wrapper5 .marquee-content5 {
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  gap: 1rem;
  cursor: grab;
}
.marquee-wrapper5 .marquee-content5 .card-testimonial {
  width: 330px;
  height: 430px;
  background-color: #ffffff;
  padding: 5px;
  border-radius: 2rem;
  color: #000000;
}
.marquee-wrapper5 .marquee-content5 .card-testimonial article picture {
  position: relative;
  min-width: 200px;
}
.marquee-wrapper5 .marquee-content5 .card-testimonial article picture img {
  width: 90%;
  height: 250px;
  margin-left: 15px;
  border-radius: 0.5rem;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: 50% 15%;
  object-position: 50% 15%;
}
.marquee-wrapper5 .marquee-content5 .card-testimonial article h4 {
  font-size: 22px;

  margin-block: 6px;
}
.marquee-wrapper5 .marquee-content5 .card-testimonial article article.short-description p {
  font-family: var(--ff-heading);
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  margin-bottom: 1.2rem;
}


.marquee-wrapper6 {
  padding-left: 10px;
  position: relative;
  display: flex;
  overflow: hidden;
  gap: 1rem;
  border-radius: 1rem;
}
.marquee-wrapper6 .marquee-content6 {
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  gap: 1rem;
  cursor: grab;
}
.marquee-wrapper6 .marquee-content6 .card-testimonial {
  width: 330px;
  height: 420px;
  background-color: #ffffff;
  padding: 5px;
  border-radius: 2rem;
  color: #000000;
}
.marquee-wrapper6 .marquee-content6 .card-testimonial article picture {
  position: relative;
  min-width: 200px;
}
.marquee-wrapper6 .marquee-content6 .card-testimonial article picture img {
  width: 90%;
  height: 250px;
  margin-left: 15px;
  border-radius: 0.5rem;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: 50% 15%;
  object-position: 50% 15%;
}
.marquee-wrapper6 .marquee-content6 .card-testimonial article h4 {
  font-size: 22px;

  margin-block: 6px;
}
.marquee-wrapper6 .marquee-content6 .card-testimonial article article.short-description p {
  font-family: var(--ff-heading);
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  margin-bottom: 1.2rem;
}

.short-description h5{
  font-size: 20px;
  margin-bottom: 3px;
}




.marquee-wrapper:hover .scrollingX {
  animation-play-state: paused;
}
@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - 1rem));
  }
}

.marquee-wrapper1:hover .scrollingX {
  animation-play-state: paused;
}
@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - 1rem));
  }
}

.marquee-wrapper2:hover .scrollingX {
  animation-play-state: paused;
}
@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - 1rem));
  }
}

.marquee-wrapper3:hover .scrollingX {
  animation-play-state: paused;
}
@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - 1rem));
  }
}

.marquee-wrapper4:hover .scrollingX {
  animation-play-state: paused;
}
@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - 1rem));
  }
}

.marquee-wrapper5:hover .scrollingX {
  animation-play-state: paused;
}
@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - 1rem));
  }
}

.marquee-wrapper6:hover .scrollingX {
  animation-play-state: paused;
}
@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - 1rem));
  }
}


/* Стиль кнопки "Наверх" */
.scroll-top-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none; /* Изначально скрыта */
  background-color:#d4a373;
  color: white;
  border: none;
  border-radius: 20%;
  width: 50px;
  height: 50px;
  font-size: 24px; /* Размер стрелки */
  text-align: center;
  line-height: 50px; /* Выравнивание стрелки по центру */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  z-index: 1000;
  transition: opacity 0.3s ease, background-color 0.3s ease;
}

.scroll-top-btn:hover {
  background-color:#d4a373;
}

/* Если вместо текста нужно использовать иконку через псевдоэлемент */
.scroll-top-btn::before {
  content: "↑"; /* Символ стрелки */
  display: block;
  font-size: 24px;
  line-height: 50px; /* Центровка */
  text-align: center;
  color: white;
}


/* Основной стиль модального окна */
.product-modal {
  display: none; /* Скрыто по умолчанию */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный фон */
  justify-content: center;
  align-items: center;
  z-index: 1001;
}

/* Контейнер для содержимого модального окна */
.product-modal-content {
  background-color: white;
  border-radius: 8px;
  padding: 20px;

  max-width: 1000px; /* Максимальная ширина */
  max-height: 80%; /* Ограничиваем высоту */
  overflow-y: auto; /* Если содержимого больше, включаем прокрутку */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
}

/* Основной контейнер внутри модального окна */
.product-modal-body {
  display: flex;
  gap: 20px; /* Промежуток между картинкой и текстом */
  align-items: flex-start; /* Выравнивание по верхнему краю */
}

/* Секция с изображением */
.product-modal-image img {
  width: 500px;
  height: auto;
  border-radius: 8px;
  
}

/* Секция с текстовой информацией */
.product-modal-info {
  flex: 1; /* Занимает оставшееся пространство */
}

.product-modal-info h2 {
  margin-bottom: 25px;

}

.product-modal-info p {
  margin-bottom: 25px;
  margin-top: 25px;
  padding-left: 10px;
}

.product-modal-info h3 {
  margin-bottom: 25px;
  margin-top: 25px;
  padding-left: 10px;
}



/* Таблица КБЖУ */
.kbju-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 25px;
}

.kbju-table th, .kbju-table td {
  padding: 8px;
  text-align: center;
  border: 1px solid #ddd;
}

.kbju-table th {
  background-color: #f4f4f4;
  font-weight: bold;
}

.kbju-table td {
  background-color: #fff;
}

/* Кнопка закрытия */
.product-close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

/* Кнопка добавления в корзину */
#productAddToCartBtn {
  background-color: #d4a373;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
  margin-top: 30px;
}

#productAddToCartBtn:hover {
  background-color: #d4a373;
}

#productAddToCartBtn {
  padding: 10px 20px;
  font-size: 20px;
  border: 2px solid transparent;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

#productAddToCartBtn.in-cart {
  background-color: white;
  color: #d4a373;
  border-color: #d4a373;
}


/* Адаптив: на телефонах блюда в колонку */
@media (max-width: 768px) {
      main {
        
        height: 100%; /* Уменьшаем высоту блока */
        width: 100%;
        max-width: 100%;
        background-size: contain; /* Делаем фон пропорциональным */
        background-position: center top; /* Выравниваем по центру сверху */
        
    }

    .button-header{
        display: none;
    }

   /* Основной стиль меню */
.restmenu {
    position: relative;
}

/* Иконка бургера */
.burger-icon img {
    width: 40px; /* Размер иконки */
    cursor: pointer;
}

/* Выдвижное меню */
.burger-slide {
    position: fixed; /* Закрепляет меню в окне */
    top: 0;          /* Начало меню от верхней границы окна */
    right: -100%;    /* Меню скрыто справа за экраном */
    height: 370px;    /* Занимает всю высоту окна */
    width: 300px;    /* Ширина меню */
    background-color: hsl(30, 53%, 64%); /* Цвет с прозрачностью (0.9 — 90% видимости) */
    border-radius: 20px;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    padding: 20px;
    transition: right 0.3s ease-in-out;
    z-index: 1000; /* Размещает меню поверх других элементов */
}


.burger-slide .nib {
    color: #333;
    text-decoration: none;
    font-size: 24px;
    margin: 10px 0;
    padding: 10px; /* Добавляем внутренние отступы */
    border-radius: 10px; /* Закругляем фон */
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

.burger-slide .nib:hover {
    background-color: #d4a373; /* Цвет фона при наведении */
    color: #ffffff; /* Цвет текста при наведении */
    transform: scale(1.1); /* Увеличение текста */
}



/* Ссылки внутри меню */
.burger-slide a {
    text-decoration: none;
    font-size: 18px;
    color: #333;
    margin: 10px 0;
}

/* Скрытое меню */
.hidden {
    right: -100%;
}

/* Показ меню */
.visible {
    right: 0;
}


    .restmenu{
        margin-right: 20px;
        margin-top: 20px;
        display: block;
        width: 35px;
        height: 30px;
    }

    .button-korz{
        display: none;
    }

    .imgheader {
       
        height: 70px; /* Уменьшаем высоту блока */
        width: 80px;
        text-align: center;
        margin-bottom: 0px;
    }

    .header-inner {
        align-items: flex-start;
        padding: 20px;
    }

    .button-korz {
        margin-top: 3px;
        width: 15px; /* Уменьшаем размеры контейнера */
        height: 15px;
    }

    .header-link a {
        display: none;
    }

    .button-header {
        margin-right: 30px;
        margin-top: 15px;
        padding: 7px 15px; /* Уменьшаем кнопку */
        font-size: 12px;
    }

    .header-inner:after {
        display: none; /* Убираем линию на мобильных */
    }

    .main-inner {
        padding-top: 0px; /* Уменьшаем отступы сверху */
        text-align: center;
    }

    .main-inner p {
        font-size: 44px; /* Уменьшаем размер текста */
        text-align: center;
    }

    .main-title .highlight {
        font-size: 2.5rem; /* Уменьшаем заголовок */
    }

    .main-title .subtitle {
        font-size: 1.3rem; /* Уменьшаем подзаголовок */
    }

    .main-title:after,
    .main-title:before {
        display: none; /* Убираем линии под заголовком */
    }

    .main-inner a {
        padding: 10px 20px; /* Уменьшаем размеры кнопки */
        font-size: 14px;
    }

      .modal-content {
    width: 95%; /* Занимает почти всю ширину экрана */
    max-width: none; /* Снимаем ограничение ширины */
    padding: 15px; /* Уменьшаем отступы */
    border-radius: 8px; /* Оставляем мягкие углы */
  }

  .question {
    font-size: 16px; /* Уменьшаем размер текста */
    margin-bottom: 15px; /* Уменьшаем отступ снизу */
  }

  .options {
    gap: 8px; /* Уменьшаем расстояние между кнопками */
  }

  .options button {
    font-size: 16px; /* Уменьшаем размер текста кнопок */
    padding: 8px;
    width: 140px; /* Уменьшаем ширину кнопок */
  }

  .result {
    flex-direction: row; /* Смена на вертикальный вывод */
    gap: 10px; /* Уменьшаем промежуток */
    max-height: 60vh; /* Ограничение высоты */
    overflow-y: auto; /* Добавляем прокрутку, если нужно */
  }

  .dish-card {
    
    max-width: 90%; /* Снимаем ограничение ширины */
    margin: 0 auto; /* Центрируем карточки */
  }

  .result-carousel {
    display: flex;
    flex-direction: row; /* Сохраняем горизонтальную прокрутку */
    gap: 10px;
    overflow-x: auto; /* Добавляем горизонтальную прокрутку */
    scroll-behavior: smooth;
    padding: 5px;
  }

  .result-carousel::-webkit-scrollbar {
    display: none; /* Убираем скроллбар для лучшего вида */
  }


    .menu-link {
        flex-wrap: wrap; /* Разделяем на строки при нехватке места */
        gap: 10px;
    }

    .button-menu1 {
        font-size: 14px; /* Уменьшаем размер шрифта */
        padding: 8px 10px;
    }
    
    .banner {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8f8f8;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    width: 90%;
}
.banner-image {
    width: 55%;
    height: auto;
    margin-right: 20px;
    border-radius: 8px;
}
.banner-text h2 {
    font-size: 24px;
    color: #333;
    margin: 0 0 10px;
}
.banner-text p {
    font-size: 16px;
    color: #555;
    margin: 0 0 20px;
}
.banner-button {
    
    padding: 5px 10px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.marquee-wrapper1 {
    overflow: hidden; /* Убедитесь, что элементы не выходят за границы */
    display: flex;
    scroll-behavior: smooth; /* Плавный скролл */
    gap: 10px; /* Расстояние между элементами */
    width: 100%;
}

.marquee-content1 {
    display: flex;
    flex-shrink: 0; /* Убедитесь, что элементы не сжимаются */
    gap: 10px;
}

.card-testimonial {
    min-width: 200px; /* Минимальная ширина карточки */
    max-width: 350px;
    flex-shrink: 0; /* Убедитесь, что карточки не сжимаются */
}
.product-modal-content {
    width: 95%; /* Почти вся ширина экрана */
    max-width: none; /* Убираем ограничение ширины */
    max-height: 90%; /* Ограничиваем высоту */
    padding: 15px; /* Уменьшаем отступы */
    overflow-y: auto; /* Включаем прокрутку для длинного содержимого */
    border-radius: 8px;
  }

  .product-modal-body {
    flex-direction: column; /* Располагаем элементы вертикально */
    gap: 15px; /* Уменьшаем промежуток между секциями */
    align-items: center; /* Центрируем содержимое */
  }

  .product-modal-image img {
    width: 100%; /* Картинка занимает всю ширину */
    max-width: 340px; /* Ограничиваем максимальную ширину */
    height: auto; /* Сохраняем пропорции */
    margin-bottom: 5px; /* Добавляем отступ снизу */
  }

  .product-modal-info {
    text-align: center; /* Выравниваем текст по центру */
  }

  .cont_zak h2 {
    margin-top: 0px;
  }
  
.cont_zak h3 {
    padding-bottom: 5px;}

  .product-modal-info h2 {
    font-size: 24px; /* Уменьшаем размер заголовка */
    margin-bottom: 15px;
  }

  .product-modal-info h3 {
    font-size: 20px; /* Уменьшаем размер текста */
    margin-bottom: 10px;
    margin-top: 10px;
  }

  .product-modal-info p {
    font-size: 16px; /* Уменьшаем размер текста */
    margin-bottom: 5px;
    margin-top: 5px;
  }

  .kbju-table {
    font-size: 16px; /* Уменьшаем шрифт таблицы */
    margin-top: 10px; /* Уменьшаем отступ сверху */
  }

  .kbju-table th, .kbju-table td {
    padding: 6px; /* Уменьшаем внутренние отступы */
  }

  #productAddToCartBtn {
    font-size: 20px; /* Уменьшаем размер текста кнопки */
    padding: 6px 8px; /* Уменьшаем внутренние отступы */
    border-radius: 15px; /* Уменьшаем радиус */
    margin-top: 10px; /* Уменьшаем отступ сверху */
  }

  .product-close-btn {
    font-size: 18px; /* Уменьшаем размер кнопки закрытия */
  }
}
